{% extends 'base.html.twig' %}

{% block title %}Upload Excel{% endblock %}

{% block body %}
    
    <div class="home-container">

    {{ form_start(form) }}
        <h1>Uploader un fichier Excel</h1>
        {{ form_row(form.file) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
        <table id="myTable" class="display">
        <div class="filter-options"> 
            <lable></label><input type="radio" id="seller" name="filter" value="546"/>
            <input type="radio" id="vo" name="filter" value="vo"/>
            <input type="radio" id="vn" name="filter" value="vn"/>
        </div>
            {# <thead>
                <tr>
                    <th>ID</th>
                    <th>Propriétaire</th>
                    <th>Modèle</th>
                    <th>Marque</th>
                    <th>Matricule</th>
                    <th>Fiche</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="customers">
             {% for customer in customers %}
                <tr class="data-customer" data-seller="{{ customer.name }}" data-type-sellerdata-seller="{{ customer.voseller }}">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.voseller }}</td>
                    <td>{{ customer.make }}</td>
                    <td>{{ customer.model }}</td>
                    <td>{{ customer.registration }}</td>
                    <td>{{ customer.filenumber }}</td>
                    <td>
                        <a href="{{ path('app_customer_info', { 'id': customer.id }) }}">LINK</a>
                        <p class="delete-button" data-id="{{customer.id}}">Delete</p>
                    </td>
                </tr>
                
                
            {% endfor %}
            </tbody> #}
        </table>

        <div class="delete-modal-container">
            <div class="delete-modal">
                <h3>Voulez vous supprimez ce client ?</h3>
                <button class="delete-modal-button delete-modal-close">Annuler</button>
                <a href="{{ path('app_customer_delete', { 'id': 0 }) }}"><button class="delete-modal-button">Supprimer</button></a>
            </div>     
        </div>
        
    </div>
    
{% endblock %}

{% block javascripts %}
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script>
        var API_URL = "http://127.0.0.1:8000/customers"
        let apiData = []
        let table = new DataTable('#myTable');
        $(document).ready( function () {
            $.ajax({
                url: API_URL,
                dataType: "json", 
                success: function(data) {
                    apiData = data;
                      for (const objet of apiData) {
                            objet.url = `/customer/${objet.id}`;
                    }
                    filter = {
                        seller : null,
                        date : null,
                        civility : null,
                        type: null
                    }
                        
                    console.log(apiData); 
                    $('#myTable').DataTable({
                    data : apiData,
                    columns: [
                        { 
                            data: 'id',
                            title : 'ID'
                        },
                        { 
                            data: 'currentOwner',
                            title : 'Proprietaire' 
                        },
                        { 
                            data: 'make',
                            title : 'Marque' 
                        }
                        ,
                        { 
                            data: 'model',
                            title : 'Modèle' 
                        },
                        { 
                            data: 'registration',
                            title : 'Matricule' 
                        },
                        {   data: 'email',
                            visible: false, 
                            searchable: true 
                        }
                        ,
                        {   data: 'jobPhoneNumber',
                            visible: false, 
                            searchable: true 
                        },
                        {   data: 'mobilePhoneNumber',
                            visible: false, 
                            searchable: true 
                        },
                        {   data: 'homePhoneNumber',
                            visible: false, 
                            searchable: true 
                        },
                         {   data: 'fileNumber',
                            visible: false, 
                            searchable: true 
                        },
                        
                        {   data: 'firstname',
                            visible: false, 
                            searchable: true 
                        },
                        {   data: 'name',
                            visible: false, 
                            searchable: true 
                        },
                        {
                            data: 'url',
                            title: 'Details',
                            render: function ( data, type, row ) {
                                    return '<a href="' + data + '">' + "voir details" + '</a>';
                             }
                        },
                        {
                            data: 'id',
                            title: 'Delete',
                            render: function ( data, type, row ) {
                                    return '<p class="delete-button" data-id="'+ data +'">Delete</p>'
                             }
                        }
                    ],
                    drawCallback : function(){
                        $('.delete-button').on('click', function () {
                        $('.delete-modal-close').on('click', function () {
                            $('.delete-modal-container').removeClass('activated');
                        });
                        $('.delete-modal-container').toggleClass('activated');
                        const customerID = $(this).data('id');
                        console.log("Delete button clicked for customer:", customerID);
                        $('.delete-modal a').attr('href', '/delete/'+customerID );
                        });
                        console.log(apiData) 
                        $('#seller').on('change', function() {
                            // var filter = 546;
                            // apiData.filter()
                            // table.column(0).data().filter(function (value, index) {
                            //     return value > 566 ? true : false;
                            // }).draw();
                            console.log("ok")
                            let value = $(this).val();
                            apiData = apiData.filter(data => data.id > 600)
                            console.log(apiData);
                            $('#datatable').DataTable({data: apiData}).draw();

                        });
                         

                    
                }
            });
            // Access and use the data
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error:", textStatus, errorThrown);
                }
            
            });
            
           
            
        } );
    
    </script>
{% endblock %}